
body, td{

	text-align: center;
}

.formPrincipal{

	padding: 100px;
	color: #4100ffb8; 
	border: 5px solid black;
	margin-right:150px;
	margin-left: 150px;
}

.resultado{

	border-radius: 3px solid black;
	
}

.letra{

	font-size: 30px;
	color:#FF4500;
}

td{
	font-size: 30px;
	border: 1px solid black;
	padding: 40px;
	padding-left: 30px;
	padding-right: 30px;
	display-flex:40px;
}

.informacao{

	font-size: 30px;

	font-family: arial, serif, sans-serif;

	background-color: #708090;

	color:#F0F8FF;


}

.infoPeso{
	font-size: 25px;

	padding:25px;
}

.infoAltura{

	font-size: 25px;

	padding:25px;

}

.bot{

	padding: 25px;
	background-color: #696969;
	color:#8B0000;
	font-size: 15px;
}

#btn{

	padding: 25px;
	background-color: #696969;
	color:#8B0000;
	font-size: 15px;
}

